<header class="py-2 border-b bg-white-600">
    <nav class="sticky top-0 w-full">
        <div class="flex mx-8 items-center">
            <!-- App icon -->
            <div class="h-10 w-10 flex flex-col items-center justify-center mx-auto">
                <span class="fa fa-lg fa-star"></span>
            </div>
            <!-- App name -->
            <div class="navbar-brand mx-4 flex-grow font-bold">Astro</div>
            <!-- User icon -->
            <div class="h-10 w-10 border border-gray-300 rounded-full mx-auto"></div>
        </div>
    </nav>
</header>
